/.data/
.data/
/pack/bundle/
pack/bundle/
/pack/lang/
/pack/habamax/
/pack/vim/
/pack/colors/
/pack/minpac/
pack/minpac/*
**/pack/
pack
.netrwbook
.netrwhist
*.html
*.pyc
*.swp
*.temp
*.zwc
**/tags
local.vim

.DS_Store
pack/minpac/start/vimcomplete
pack/packs.vim
