
/data/

# from bennyyip
# !pack/packs.vim
# pack/minpac/opt/
# !pack/minpac/opt/minpac
# !pack/minpac/start/vimcomplete
/pack/minpac/start
# !/pack/minpac/start/vim-sensible



# habamax
/pack/bundle/
/pack/lang/
/pack/habamax/
/pack/vim/
/pack/colors/

.netrwbook
.netrwhist
*.html
*.pyc
*.swp
*.temp
*.zwc
**/tags
local.vim

.DS_Store

