.DS_Store
.netrwbook
.netrwhist
*.html
*.pyc
*.swp
*.temp
*.zwc
**/tags
/.data/
/pack/bundle/
/pack/colors/
/pack/ext/
/pack/habamax/
/pack/lang/
/pack/vim/
/tags
\pack\**
\pack\colors\
pack/** */
pack\minpac\**
pack/minpac/** */
vim/.vim/.netrwhist




